<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name="com.atmytrack.app.FolderFixtureProvider" android:authorities="com.atmytrack.app.test.folder" android:exported="true" />
        <!-- Test APK only: emulates a cloud provider with unknown length and a non-seekable stream. -->
        <provider android:name="com.atmytrack.app.NonSeekableAudioProvider" android:authorities="com.atmytrack.app.test.stream" android:exported="true" />
    </application>
</manifest>
